body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

h1 {
  color: blue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

a {
  display: inline-block;
  padding: 1rem;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

a:hover {
  background-color: #ddd;
  border-color: #aaa;
}

p {
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: bold;
}
